@import 'tailwindcss';
@import '@nuxt/ui';
@source './components';

:root {
  color-scheme: light dark;
  font-family: var(--ds-typography-interface-family, Inter, ui-sans-serif, sans-serif);
}

body {
  margin: 0;
}
