node_modules/
dist/
.designlab/
**/.designlab/index/
**/.designlab/embeddings/
/projects/
/libraries/*
!/libraries/design-lab-system/
!/libraries/design-lab-system/**
!/libraries/nuxt-ui-system/
!/libraries/nuxt-ui-system/**
/themes/*
/libraries/nuxt-ui-system/node_modules/
.DS_Store
*.log
design-lab/runtime/vue/auto-imports.d.ts
design-lab/runtime/vue/components.d.ts
