.klyp-AppTopbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-8);
  padding-block: var(--space-4);

  &__actions {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: var(--space-4);
  }
}
